[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.ats,*.ts}]
indent_style=space
indent_size=2

[tslint.json]
indent_style=space
indent_size=2

